<section class="widget archives">

    <div class="widget-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
            <path d="M4 4h16v16H4z"/>
        </svg>
    </div>

    <h2 class="widget-title">
        Archives
    </h2>

    <div class="widget-content">

        {{ range (.Context.Site.RegularPages.GroupByDate "2006") }}

        <div class="archive-item">

            <a href="/archives/#{{ .Key }}">
                {{ .Key }}
                <span>
                    {{ len .Pages }}
                </span>
            </a>

        </div>

        {{ end }}

    </div>

</section>