<div class="marquee-wrapper">
    <div class="marquee-content">
        <span>失败并不可怕，可怕的是倒下时没有抓住一把沙子&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>失败并不可怕，可怕的是倒下时没有抓住一把沙子&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>失败并不可怕，可怕的是倒下时没有抓住一把沙子&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>失败并不可怕，可怕的是倒下时没有抓住一把沙子&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>失败并不可怕，可怕的是倒下时没有抓住一把沙子&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>失败并不可怕，可怕的是倒下时没有抓住一把沙子&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>失败并不可怕，可怕的是倒下时没有抓住一把沙子&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>失败并不可怕，可怕的是倒下时没有抓住一把沙子&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
</div>
